body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

#recipes {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.recipe {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  max-width: 300px;
}

.recipe img {
  max-width: 100%;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}